name: Release Helm Chart

on:
  push:
    tags:
      - '*'

env:
  CHART_DIR: "."
  REGISTRY: ghcr.io

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Install Helm
        uses: azure/setup-helm@v3
        with:
          version: 'latest'

      - name: Lint Chart
        run: helm lint ${{ env.CHART_DIR }}

      - name: Package Chart
        run: helm package ${{ env.CHART_DIR }}

      - name: Login to GitHub Container Registry
        # Uses the automatic GITHUB_TOKEN
        run: echo "${{ secrets.GITHUB_TOKEN }}" | helm registry login ${{ env.REGISTRY }} -u ${{ github.actor }} --password-stdin

      - name: Push Chart to OCI
        run: |
          # Note: GitHub requires the owner name to be lowercase
          OWNER_LOWER=$(echo "${{ github.repository_owner }}" | tr '[:upper:]' '[:lower:]')
          
          # Pushes to ghcr.io/username/charts
          helm push ./*.tgz "oci://${{ env.REGISTRY }}/$OWNER_LOWER/charts"